@using MultiFactor.SelfService.Windows.Portal.Core;
@using Microsoft.Extensions.DependencyInjection;
@using MultiFactor.SelfService.Windows.Portal.Services;

@{
    var cache = HttpContext.Current.GetRequestServices().GetRequiredService<ContentCache>();
    var reqs = cache.GetLines(ContentCategory.PasswordRequirements);
}

@if (reqs.Length == 0)
{
    <p>@Resources.Shared_PasswordRequirementsPartial.InvitationShort</p>
}
else
{
    <p>@Resources.Shared_PasswordRequirementsPartial.Invitation</p>
    <ul class="list">
        @foreach (var req in reqs)
        {
            <li>@req</li>
        }
    </ul>
}