<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Что-то не так.</h1>
        <h2>К сожалению, при обработке запроса произошла ошибка. Все данные записаны. <br/>Пожалуйста, сообщите администратору.</h2>
    </hgroup>
</body>
</html>
