@{
    ViewBag.Title = string.Format(Resources.Global.SiteName, Configuration.Current.CompanyName);
}
<div class="login">
    <div class="form-column">
        <ul class="action">
            <li><a href="~/" class="btn-primary w-100">@Resources.Global.Enter</a></li>
        </ul>
    </div>
</div>