<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="portalSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="ActiveDirectory" type="MultiFactor.SelfService.Windows.Portal.ActiveDirectorySection, MultiFactor.SelfService.Windows.Portal"/>
  </configSections>
  <portalSettings>
    <!--Company Name-->
    <add key="company-name" value="ACME"/>
    <!--Company Logo URL: absolute or relative -->
    <add key="company-logo-url" value="/mfa/content/images/logo.svg"/>
    
    <!--Active Directory Domain -->
    <add key="company-domain" value="domain.local"/>
    <!--ActiveDirectory 2FA group (optional) for SAML and OpenID Connect Single Sign On -->
    <!--<add key="active-directory-2fa-group" value="2FA Users"/>-->
    <!--Use ActiveDirectory User General properties phone number (optional)-->
    <!--<add key="use-active-directory-user-phone" value="true"/>-->
    <!--Use ActiveDirectory User Telephones properties mobile number (optional)-->
    <!--<add key="use-active-directory-mobile-user-phone" value="true"/>-->
    
    <!--Multifactor API -->
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-key" value="key"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-secret" value="secret"/>
    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->
    
    <!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
    <add key="logging-level" value="Info"/>
    <!--<add key="logging-format" value="json"/>-->
    
    <!--enable user password change-->
    <add key="enable-password-management" value="true"/>
    <!--enable user Exchange AciveSync devices provisioning-->
    <add key="enable-exchange-active-sync-devices-management" value="false"/>
    
    <!--Syslog server-->
    <!--<add key="syslog-server" value="udp://syslog-server:514"/>-->
    <!--Syslog format: RFC3164 or RFC5424-->
    <!--<add key="syslog-format" value="RFC5424"/>-->
    <!--<add key="syslog-facility" value="Auth"/>-->
    <!--<add key="syslog-app-name" value="multifactor-portal"/>-->
  </portalSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5"/>
    <!--Cookies must be secured-->
    <!--If you want to terminate TLS on nginx or other proxy, remove requireSSL="true" and httpCookies key below-->
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880" requireSSL="true"/>
    </authentication>
    <httpCookies requireSSL="true"/>
    <!--language selection:-->
    <!--
      ru - Russian,
      en - English,
      auto:ru - check browser, default Russian,
      auto:en - check browser, default English
    -->
    <globalization culture="auto:ru" uiCulture="auto:ru"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>