@{
    ViewBag.Title = "Портал двухфакторной аутентификации " + Configuration.Current.CompanyName;
}

<div class="block">
    <div class="container">
        <p>Отлично, @User.Identity.Name!</p>
        <h2>Вы завершили настройку двухфакторной аутентификации.</h2>

        <p>Если вам необходимо добавить или удалить способ, зайдите еще раз, далее на форме нажмите три точки, выберите в меню пункт "Способы аутентификации" и пройдите проверку подлинности одним из ранее настроенных способов. После вам откроется возможность настройки.</p>
        <p>&nbsp;</p>
        <ul class="action">
            <li><a href="~/account/logout" class="btn">Выход</a></li>
        </ul>
    </div>
</div>
