<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Error.Title</title>
</head>
<body>
    <hgroup>
        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <h1>@(TempData["ErrorMessage"])</h1>
        }
        else
        {
            <h1>@Resources.Error.SomethingWentWrong</h1>
            <h2>@Html.Raw(Resources.Error.Generic)</h2>
        }
    </hgroup>
</body>
</html>
