
@{
    ViewBag.Title = string.Format(Resources.Global.SiteName, Configuration.Current.CompanyName);
}

<div class="login">
    <div class="form-column">
        <h2>@Resources.ExpiredPasswordChange.Title</h2>
        <p>
            @Resources.ExpiredPasswordChange.Info
        </p>
        <ul class="action">
            <li><a href="~/" class="btn-primary w-100">@Resources.ExpiredPasswordChange.Ok</a></li>
        </ul>
    </div>
</div>