<div class="login">
    <div class="form-column">
        <hgroup>
            <h2>@Resources.UserUnlock.Success</h2>
        </hgroup>
        <ul class="action">
            <li><a href="~/" class="btn-primary w-100">@Resources.UserUnlock.Ok</a></li>
        </ul>
    </div>
</div>
