@model string

@{
    ViewBag.Title = Resources.PasswordReset.Title;
}

<div class="login">
    <div class="form-column">
        <h2>@Resources.PasswordReset.Title</h2>
        <hgroup>
            <h2>@Html.Raw(Model)</h2>
        </hgroup>
    </div>
</div>